<aside class="container-fluid col-lg-1 bg-dark" id="responsive_nav_desktop">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-white mt-3" aria-current="page" href="../../admin/index">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="../../category/index">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../../product/index">Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../../movie/index">Films</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="../../user/index">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/security/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/contact/index">Questions visiteurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
        </li>
    </ul>
</aside>

