{% extends 'layout.html.twig' %}
{% block content %}

	{% include "/_nav_user.html.twig" %}
	<h1 class="text-dark text-center mt-3">Merci pour votre message !</h1>
	<h3 class="text-dark text-center mt-3">Nous traiterons votre demande dans les plus brefs délais.</h3>
	<div class="form-floating mt-5 text-center">
		<a type="back" href="/home/index" class="btn btn-primary" value="Retour">Retour au site</a>
	</div>
{% endblock %}
